rm -Rf dist
export LINK_BUBBLE_KEYSTORE_LOCATION=path/to/linkbubble_play_keystore
export LINK_BUBBLE_KEYSTORE_PASSWORD='keystore-password-here'
export LINK_BUBBLE_KEY_ALIAS='linkbubble'
export LINK_BUBBLE_KEY_PASSWORD='key-password'
cd ./Application
./gradlew assemblePlaystoreRelease
cd ../
mkdir -p dist
cp Application/LinkBubble/build/outputs/apk/LinkBubble-playstore-release.apk dist/
