<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}  {{ title }} {% endblock %} </title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="http://s3.amazonaws.com/linkbubble/img/link_button_icon.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
    <script>var SITE_ROOT = '/design';</script>
    
<script type="text/javascript">
window.___gcfg = {lang: 'en'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();</script>


  {% block head_include %}
  {{ head_include }}
  {% endblock %}


  </head>
  <body itemscope itemtype="http://schema.org/Article">

  {% block maincontent %}
  {{ maincontent }}
  {% endblock %}

    <div class="footerColumn">
      
      <div id="page-footer" class="pageFooter" style="margin-left:0px">

        {% block footer_links_block %}
          {{ footer_links_block }}
        {% endblock %}

        <p id="copyright">Designed and written by <a href="https://twitter.com/chrismlacy" target="_blank">@chrismlacy</a>.<br> Copyright 2014, Digital Ashes PTY LTD.</p>

    </div>  
    </div>

  </body>

{% block post_body_block %}
  {{ post_body_block }}
  {% endblock %}


</html>
