{% extends "base.html" %}


{% block title %}
Contact - Action Launcher
{% endblock %}

{% block maincontent %}
    
    <div class="ppCenterColumn">
      
      <h2>Contact</h2>

      <p>Please feel free to get in touch. The best contact methods are as follows:

      <ul style="padding-top:10px">
            <li>Email: <a href="mailto:support@actionlauncher.com">support@actionlauncher.com</a></li>
            <li>Google+: <a href="https://plus.google.com/u/0/communities/109326856140078966644">Action Launcher Community</a></li>
            <li>Twitter: <a href="http://twitter.com/chrismlacy">@chrismlacy</a></li>
      </ul>

      </p>
    </div>

    <div style="clear:both;"></div>

{% endblock %}