{% extends "base.html" %}

{% block title %}
Link Bubble - mobile browsing done right
{% endblock %}

{% block maincontent %}
    
    <div class="centerColumn">
      
      <div class="leftColumn">

        <div style="position: relative; ">
          
          <img src="https://s3.amazonaws.com/tweetlanes/galaxy_nexus.png" style="position:absolute; z-index:1;" width="346" height="585">

          <div id="fade" class="pics">
            <img src="http://s3.amazonaws.com/linkbubble/img/link_bubble_load_demo.gif" style="position:absolute; z-index:3;" width="240" height="406">
            <img src="http://s3.amazonaws.com/linkbubble/img/link_bubble_add_to_pocket_demo.gif" style="position:absolute; z-index:3;" width="240" height="406">
        </div>


          
          <img src="https://s3.amazonaws.com/tweetlanes/galaxy_nexus_glass.png" style="position:absolute; z-index:6;top:0;left:0;" width="346" height="585">
        </div>
        </div>

        <div class="rightColumn">

<div style="display:block;height: 120px;background-position: top right;">


  <!--
 <img src="https://s3.amazonaws.com/tweetlanes/tweet_lanes_logo_512.png" width="512" height="512">
-->

<img src="https://s3.amazonaws.com/linkbubble/link_bubble_logo.png" width="300" height="176" alt="Link Bubble - mobile browsing done right"/>

</div>

<!--
<img src="https://s3.amazonaws.com/actionlauncher/action_launcher_logo.png" style="float:right" width="144" height="144">-->

  <div id="text-overlay" style="font-size: 16px;">
    
    <strong></strong>
    <br><br>
  </div>
  <div style="color: #999;font-size:13px;text-align:center;width: 172px;margin: 0px auto;padding-top:180px">
    
      <a href="http://play.google.com/store/apps/details?id=com.linkbubble.playstore" target="_blank"> 
        <img alt="Android app on Google Play" src="http://www.android.com/images/brand/android_app_on_play_logo_large.png" />
      </a>
      <br>
      
  </div>

  </div>


        </div>

    <div style="clear:both;"></div>

{% endblock %}


{% block post_body_block %}
<script async src='https://adnwidgets.herokuapp.com/alpha.js'></script>
<script type="text/javascript"> 

    $(document).ready(function() {

      $('#fade').cycle();
    });
</script>

{% endblock %}


</html>
