{% extends "base.html" %}


{% block title %}
Privacy Policy - Link Bubble
{% endblock %}

{% block maincontent %}
    
    <div class="ppCenterColumn" style="p {color:#fff;}">
      
      <h2>Link Bubble / Link Bubble Pro Privacy Policy</h2>

      <div id="landingPageDescrip" style="padding-top:10px">
        <p><strong>Version 1.0</strong></p>
        <p style="padding-bottom:10px;"><strong>Effective on February 24, 2014</strong></p>
        <p>This privacy statement describes how <strong>Digital Ashes PTY. LTD.</strong> (Digital Ashes) collects and uses the personal information you provide.  It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.</p>
      </div>
      <br><br>

      <div class="ppSectionHeader">Collection and Use</div>
      <p><strong>We may collect the following personal information from you:</strong></p>
      <ul>
        <li>Usage activity about how you interact with our application(s) and which areas of our application(s) you visited.</li>
        <li>Device Information and IP address.</li>
        <li>Account information from your device.</li>
      </ul>

      <br><p><strong>We may use this information to:</strong></p>
      <ul>
        <li>Conduct research and analysis to improve our products.</li>
        <li>Inform you about other Digital Ashes products.</li>
      </ul>

      <br><p>Link Bubble does not transfer any information about your browsing habits, which sites you visit, your browsing history, items you search for, or any similar activity.</p>
      <p>When Link Bubble is not in Incognito mode, a copy of your browsing history is kept on your device for your convenience. This browsing history is never transferred off your device, and can be erased at any point.</p>
      <p>Your browsing habits is information personal to you, and Digital Ashes is not in the business of tracking it.</p>

      <br /><br /><br />
      

      <div class="ppSectionHeader">Sharing Your Information</div>
      <p>We will share your information with third parties only in the ways that are described in this privacy statement.</p><br>
      <p><strong>We may disclose your personal information:</strong></p>
      <ul>
        <li>As required by law, such as to comply with a subpoena, or similar legal process.</li>
        <li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
        <li>If Digital Ashes is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</li>
        <li>To any other third party with your prior consent to do so.</li>
      </ul>
      <br /><br /><br />

      <div class="ppSectionHeader">Third party services</div>
      <p>Out applications make use of third party services for services such as application stability tracking and general application usage. While we make every effort to only use services provided by trustworthy and reputable third parties, we can accept no responsibility for how these third parties manage or share information and data in their possession.</p>
      <br /><br /><br />

      <div class="ppSectionHeader">Third party links</div>
      <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites. </p>
      <br /><br /><br />

      <div class="ppSectionHeader">Tracking and Ads</div>
      <p>We or a third party contracted by us may use technologies to gather information about how you and others interact with our application(s). For example, we may aggregate how many users access a specific areas or features within our application. We use this aggregated information to understand and optimize how our application is used, improve our marketing efforts, and provide content and features that are of interest to you.</p>
      <br /><br /><br />

      <div class="ppSectionHeader">Security</div>
      <p>The security of your personal information is important to us.  We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.  No method of transmission over the Internet, or method of electronic storage, is 100% secure.  Therefore, we cannot guarantee its absolute security.</p>
        
      <br /><br /><br />

<div class="ppSectionHeader">California Online Privacy Protection Act Compliance</div>

<p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent. </p><br /><br /><br />

<div class="ppSectionHeader">Children's Online Privacy Protection Act Compliance</div>

<p>We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older. </p><br /><br /><br />


<div class="ppSectionHeader">Terms and Conditions </div>

<p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at 
  <a href="/terms">www.linkbubble.com/terms</a>. </p><br /><br /><br />


      <div class="ppSectionHeader">Other Information</div>
      <strong>Notification of Privacy Statement Changes</strong>
      <br><br>
      <p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</p>
      <br /><br /><br />

      <div class="ppSectionHeader">Contact</div>
      <p>You can contact us about this privacy statement by emailing <a href="mailto:privacy@linkbubble.com">privacy@linkbubble.com</a>.</p>

    </div>

    <div style="clear:both;"></div>

{% endblock %}